

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
				{{range .goodsTypes}}
                    <li><a href="/goodsList?id={{.Id}}" class="{{.Logo}}">{{.Name}}</a></li>
				{{end}}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{.fdfshost}}{{.goodsSKU.Image}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{.goodsSKU.Name}}</h3>
			<p>{{.goodsSKU.Desc}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{.goodsSKU.Price}}</em></span>
				<span class="show_unit">单  位：{{.goodsSKU.Unite}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart" name={{.goodsSKU.Id}}>加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{{range .newGoods}}
					<li>
						<a href="/goodsDetails?id={{.Id}}"><img src="{{$.fdfshost}}{{.Image}}"></a>
						<h4><a href="#">{{.Name}}</a></h4>
						<div class="prize">￥{{.Price}}</div>
					</li>
					{{end}}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{.goodsSKU.Goods.Detail}}</dd>
				</dl>
			</div>

		</div>
	</div>

	<div class="add_jump"></div>
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		countTotalPrice();

		function countTotalPrice() {
			var $price = $('.show_pirze em').html()
			var $count = $('.num_show').val()

			$price = parseFloat($price)
			$count = parseInt($count)

            var $totalPrice = $price * $count;
            $('.total em').html($totalPrice.toFixed(2) + '元');

        }

        $('.add').click(function () {
            var $count = $('.num_show').val()
			$count = parseInt($count)
			$count = $count+1

            $('.num_show').val($count)
            countTotalPrice();
        })

        $('.minus').click(function () {
            var $count = $('.num_show').val()
            $count = parseInt($count)
			if ($count > 1) {
                $count = $count-1
			}

            $('.num_show').val($count)
            countTotalPrice();
        })

		$('.num_show').blur(function () {
            var $count = $('.num_show').val()
			if (isNaN(parseInt($count))||$count.trim().length==0||parseInt($count)<1) {
			    $count = 1
			}
            $('.num_show').val($count)
            countTotalPrice();
        })

		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
		    var $goodsId = $('#add_cart').prop('name')
            var $count = $('.num_show').val()
			var $data = {"goodsId":$goodsId,"count":$count}
			var $preCount = parseInt($('#show_count').html())

		    $.ajax({
				url:'/user/addCart',
				method:'post',
				data:$data,
				dataType:'json',
				success:function (dat) {
					if (dat.code==5) {
					    alert("添加购物车成功！")
                        $(".add_jump").stop().animate({
                                    'left': $to_y+7,
                                    'top': $to_x+7},
                                "fast", function() {
                                    $(".add_jump").fadeOut('fast',function(){
                                        $('#show_count').html($preCount+1);
                                    });

                                });
					} else {
					    alert(dat.errmsg)
					}
                },
				error:function () {
					alert("服务器出错")
                }
			})



		})
	</script>
